article {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
.container {
    display: flex;
    width: 100%;
    padding: 5px 0 0 0;
    box-sizing: border-box;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 5px;
    line-height: 0;
    height: 100%;
  }
  
  .box img {
    width: 200%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .box:hover {
    flex: 1 1 70%;
}
  .box:hover img {
    width: 100%;
  }
   