@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  color: #EAE7B1;
}

::-webkit-scrollbar{
  display: none;
}

html, body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #3C6255;
}
main {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

article{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}

header{
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

section {
  background-size: cover;
  background-color: var(--bg, --color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.image {
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  color: var(--text-color);
}

section.text {
  min-height: 80vh;
}

.tartalom{
  margin: auto 10% auto 10%;
}
.tartalom :is(p, li) {
  text-align: justify;
}

.tartalom   h2{
  font-size: 40px;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3C6255;
}

.footerDiv{
  height: 100%;
  padding: 20px;
  top: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: auto;
  color: #EAE7B1;
}

.user, .user:visited{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}
.user:hover, .user:active{
  color: #A6BB8D;
}

/*--------------------------------*/
.fullscreenVideo{
  width: 100%;
  height: auto;
}

/*---------Nav---------*/
nav{
  position: fixed;
  width: 100%;
  max-width: 1920px;
  top: 0;
  z-index: 5;
  background-color: #3C6255;
  color: #EAE7B1;
  font-size: 20px;
  border-bottom: 2px solid #A6BB8D;
}
nav ul{
  padding: 0;
  margin: 10px 0 10px 0;
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: inline-block;
}
nav ul li a, nav ul li a:visited{
  text-align: center;
  text-decoration: none;
  color: #EAE7B1;
  padding: 10px;
  transition: 0.5s ease;
  width: 100%;
}
nav ul li a:hover, nav ul li a:active{
  background-color: #61876E;
}
nav ul li a#aktiv{
  background-image: linear-gradient(45deg, rgba(97, 135, 110, 100), rgba(97, 135, 110, 2));
}

@media only screen and (max-width: 500px){
  nav ul{
    display: inline;
  }
  nav ul li{
    display: flex;
  }
}